$black: #000000;
$white: #ffffff;
$brand-primary: #76c3d4;
$brand-secondary: #53585a;

$headerHeight: 200px;
$navHeight: 170px;
$footerHeight: 50px;


$font-family: 'universltstd-cn', helvetica, sans-serif;
$font-family-light: 'universltstd-light', helvetica, sans-serif;
